@model HelpDesk.Models.ZgloszeniaViewModels

@{
    ViewBag.Title = "Details";
}


<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zgloszenia.Kategorie.Nazwa)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zgloszenia.Statusy.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zgloszenia.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zgloszenia.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zgloszenia.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zgloszenia.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zgloszenia.Komentarz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zgloszenia.Komentarz)
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.adm == 1)
    {
        @Html.ActionLink("Usuń", "Delete", new { id = Model.Zgloszenia.Id }, new { @class = "btn btn-danger" })
    }

    @if (ViewBag.edycja == 1)
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Zgloszenia.Id }, new { @class = "btn btn-warning" })
    }




    @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-primary" })
</p>

<hr />
<br />
<h4>Wiadomości</h4>
<div>
    <table class="table">
        <tr>
            <th width="15%">
                Data Dodania
            </th>
            <th width="65%">
                Treść
            </th>
            <th width="20%">
                Nadawca
            </th>
        </tr>

        @foreach (var item in Model.Wiadomosci)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDodania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tresc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nadawca)
                </td>
            </tr>
        }

    </table>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div >
        <h4>Wyślij wiadomość</h4>
        <hr />
        <div >
            @*@Html.LabelFor(model => model.Wiad, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-12">*@
                @Html.TextAreaFor(model => model.Wiad,10,55, new { htmlAttributes = new { @class = "max-width = 400px" } })
                @Html.ValidationMessageFor(model => model.Wiad, "", new { @class = "text-danger" })
            @*</div>*@
        </div>
        @Html.HiddenFor(m => m.idwiad)
        @Html.HiddenFor(m => m.nad)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyślij" class="btn btn-success" />
            </div>
        </div>
    </div>
    }
</div>
